# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#idea created files
.idea/
./twister2/.idea/
*.iml
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
bazel-twister2

#sphinx created files
docs/_build
