.t2-jobs-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  //grid-row-gap: 5px;
}

.t2-jobs-search {
  display: grid !important;
  grid-template-columns: 100px auto;
  margin-bottom: 10px;
}