.t2-jobs-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  //grid-row-gap: 5px;
}

.t2-jobs-search {
  display: grid !important;
  grid-template-columns: 120px auto;
  margin-bottom: 10px;
}

.t2-jobs-header {
  display: grid;
  grid-template-columns: auto 200px;

  div {
    text-align: right;
    line-height: 36px;
  }
}